mixin spares()
  +b('section').spares
    +b.container
      +b.spares-left
        +e('h2').head Запчасти в челябинске
        +e('p').text Машины этих марок получили большую популярность. Покупатели ценят их за надежность и универсальность,
          | это идеальный вариант для коммерческих целей. Автомобили просты в эксплуатации и экономны в обслуживании.
          | Данные марки наиболее адаптивны к российским условиям. Из-за того, что эти машины эксплуатируются почти
          | круглые сутки, износ деталей происходит довольно быстро. Здесь Вы найдете широкий ассортимент запчастей для
          | автомобилей данных марок.
        +e('p').text Приобрести запасные части к отечественным автомобилям и иномаркам достаточно просто. Особенно, если
          | Вы заказываее их у нас. Удобный функциональный каалог поможет айти то, что Вам нужно.
        +e('p').text Мы гарантируем, что Вы получите качественный товар. Порадует Вас и стоимость запчастей. Купить детали
          | Челябинске через наш интернет-магазин можно сразу большой партией. Квалифицированный автомобильный
          | консультант поможет подобрать нужную деталь. Приглянулся товар? Перемещайте в корзину! Сервси работает
          | также быстро, как и наша служба доставки. Мы предоставляем товары высоког качества, цена при этом остается
          | доступной.
      +b.spares-right
        +e('h2').head Мы предлагаем автомобильные запчасти:
        +e('span').list - запчасти на двигатель;
        +e('span').list - детали ходовой части;
        +e('span').list - элементы кузова;
        +e('span').list - колесные диски;
        +e('span').list - расходные материалы;
        +e('span').list - запчасти трансмиссии;
        +e('span').list - дополнительное оборудование.
        +e('h3').form-head Закажите детали сейчас!
        +e('span').form-comment Оставьте заявку и наши менеджеры Вам перезвонят.
        +b('form').form
          +e('input')(type='text' name='name' required placeholder='Ваше имя').input
          +e('input')(type='tel' name='phone' required placeholder='Ваше телефон').input
          +b.check
            +e('input')(type='checkbox').checkbox#checkbox2
            +e('label')(for='checkbox2') Я принимаю условия Соглашения
          +b('button')(type='submit' disabled='disabled').btn-content.btn.jsCheck
            +e('span') Отправить
            +e.image
              +e('img')(src='assets/images/right-arrow.svg' alt='')
