mixin header()
  +b('header').header
    +e.top
      +b.container
        +b.header-head
          +e('a')(href='/').logo ТД Газавтозапчасти
          +e('span').text Оптово-розничная торговля автозапчестями на автомобили: Волга; Газель; Соболь; ГАЗ: 52, 53,
            | 3307; ПАЗ; Волдай; УАЗ все модели
          +b('button').btn-headfoot.btn.jsMAdvice
            +e.image
              +e('img')(src='assets/images/call-answer.svg' alt='')
            +e.text
              +e('span') +7 351  262 41 21
              +e('span') Получить консультацию
          +e('span').schedule Прием звонков<br> пн-пт с 9-00 до 18-00
          +e('button').search.jsSearch
            +e('span') Поиск
            +e('img')(src='assets/images/search.svg' alt='')
            +b.search-input.jsSearchInp
              +e('input')(type='text' placeholder='Поиск')
              +e('a')(href='#')
                +e('img')(src='assets/images/search-black.svg' alt='')
          +e.basket
            +e('button').basket__block.jsOpenBasket
              +e('span') Корзина
              +e('img')(src='assets/images/shopping-cart.svg' alt='')
              +e.basket__block__num
                +e('span') 2
            +b.basket.jsBOpen
              +e.items
                +b.b-item
                  +e.image
                    +e('img')(src='assets/images/products_spec_item_1.png' alt='')
                  +e('span').cod Код: 00000000968
                  +e('span').number Каталожный номер: 00000000968
                  +e('p').name.jsDotDot Мотор стеклоочистителя ГАЗ: 24, 3102, 31029,3110, 3302
                  +e.price
                    +b('span').jsPrice 1 578
                    +e('span') ₽
                  +e.block
                    +e.block__amount
                      +b('span').jsMinus -
                      +b('span').jsAmount 1
                      +b('span').jsPlus +
                    +e.block__price
                      +b('span').jsBPrice 1 578
                      +e('span') ₽
                +b.b-item
                  +e.image
                    +e('img')(src='assets/images/products_spec_item_1.png' alt='')
                  +e('span').cod Код: 00000000968
                  +e('span').number Каталожный номер: 00000000968
                  +e('p').name.jsDotDot Мотор стеклоочистителя ГАЗ: 24, 3102, 31029,3110, 3302
                  +e.price
                    +b('span').jsPrice 1 578
                    +e('span') ₽
                  +e.block
                    +e.block__amount
                      +b('span').jsMinus -
                      +b('span').jsAmount 1
                      +b('span').jsPlus +
                    +e.block__price
                      +b('span').jsBPrice 2 578
                      +e('span') ₽
              +e.price
                +e.price__num
                  +b('span').jsBAllPrice 0
                  +e('span') ₽
                +e('button').price__btn Заказать
          +e('button').login
            +e('img')(src='assets/images/login.svg' alt='')
          +e('button').user
            +e('img')(src='assets/images/user.svg' alt='')
    +e.bottom
      +b.container.pos-relative
        +b.yellow-background
        +b.header-content.pos-relative
          +b.nav-menu
            +e('ul').left
              +e('li').left__link
                +e('a')(href='#') О магазине
              +e('li').left__link
                +e('a')(href='#') Оплата и доставка
              +e('li').left__link
                +e('a')(href='#') Вопрос-ответ
              +e('li').left__link
                +e('a')(href='#') Новости
              +e('li').left__link
                +e('a')(href='#') Контакты
            +e('ul').right
              +e('li').right__link
                +e('a')(href='#') Каталог запчастей
              +e('li').right__link
                +e('a')(href='#') Запчасти по автомобилям
              +e('li').right__link
                +e('a')(href='#') Спецпредложения
          +b.header-block.pos-relative
            +e.left
              +e('h2').left__head Оптово-розничная<br> торговля автозапчастями<br> на автомобили
              +e.left__text-btn
                +e('p') Мы гарантируем, что вы получите качественный запчасти по лучшей цене. Квалифицированный
                  |  автомобильный консультант поможет подобрать нужную деталь.
                +e.left__text-btn__btn
                  +b.btn-content.btn
                    +e('span') все запчасти
                    +e.image
                      +e('img')(src='assets/images/right-arrow.svg' alt='')
                  +e('a')(href='#') Получить консультацию
              +e('img')(src='assets/images/header_cars.png' alt='').left__cars
            +e.right
              +e('h2').right__head Почему лучше<br> выбрать нас
              +b.header-items
                +e.item
                  +e.item__image
                    +e('img')(src='assets/images/header_item_1.png' alt='')
                  +e('p') Работаем<br> по договору
                +e.item
                  +e.item__image
                    +e('img')(src='assets/images/header_item_2.png' alt='')
                  +e('p') Отгрузим в<br> день заказа
                +e.item
                  +e.item__image
                    +e('img')(src='assets/images/header_item_3.png' alt='')
                  +e('p') Подберем запчасть<br> за 30 минут
                +e.item
                  +e.item__image
                    +e('img')(src='assets/images/header_item_4.png' alt='')
                  +e('p') Бесплатная доставка<br> по территории РФ
                +e.item
                  +e.item__image
                    +e('img')(src='assets/images/header_item_5.png' alt='')
                  +e('p') Сертифицированный<br> партнер брендов
                +e.item
                  +e.item__image
                    +e('img')(src='assets/images/header_item_6.png' alt='')
                  +e('p') Только оригинальная<br> продукция
              +b.header-form-head
                +e('h2').head Оставьте заявку
                +e('p').comment и наши менеджеры Вам перезвонят!
              +b('form').form
                +e('input')(type='text' name='name' required placeholder='Ваше имя').input
                +e('input')(type='tel' name='phone' required placeholder='Ваше телефон').input
                +b.check
                  +e('input')(type='checkbox').checkbox#checkbox
                  +e('label')(for='checkbox') Я принимаю условия Соглашения
                +b('button')(type='submit' disabled='disabled').btn-content.btn.jsCheck
                  +e('span') Отправить
                  +e.image
                    +e('img')(src='assets/images/right-arrow.svg' alt='')
