mixin manufacturers()
  +b('section').manufacturers
    +b.container
      +b.manufacturers-block
        +e.link
          +e('p').link__left более
            +e('span') 56
          +e('a')(href='#').link__next далее
          +e('p').link__center лучших
          +e('p') производителей
        +e.slider.jsManufacturersSlider
          +e.slider__image
            +e('img')(src='assets/images/manufacturers_1.png' alt='')
          +e.slider__image
            +e('img')(src='assets/images/manufacturers_2.png' alt='')
          +e.slider__image
            +e('img')(src='assets/images/manufacturers_3.png' alt='')
          +e.slider__image
            +e('img')(src='assets/images/manufacturers_4.png' alt='')
          +e.slider__image
            +e('img')(src='assets/images/manufacturers_5.png' alt='')
