mixin car-brands()
  +b('section').car-brands
    +b.container
      +b.cars-block.jsCarSlider
        +e.item
          +e.item__image
            +e('img')(src='assets/images/car_1.png' alt='')
          +e('p').item__text Газель, Соболь Волга
        +e.item
          +e.item__image
            +e('img')(src='assets/images/car_2.png' alt='')
          +e('p').item__text УАЗ
        +e.item
          +e.item__image
            +e('img')(src='assets/images/car_3.png' alt='')
          +e('p').item__text TRANSIT
        +e.item
          +e.item__image
            +e('img')(src='assets/images/car_4.png' alt='')
          +e('p').item__text LOGAN, SANDERO SIMBOL
        +e.item
          +e.item__image
            +e('img')(src='assets/images/car_5.png' alt='')
          +e('p').item__text JUMPER 3
        +e.item
          +e.item__image
            +e('img')(src='assets/images/car_1.png' alt='')
          +e('p').item__text Газ 53, 3307, Валдай
